// Style Global
@import './iconfont/style.css';
* {
    box-sizing: border-box;
}
body {
    background-color: #202533;
    font-size: 14px;
    color: #9eaacc;
    line-height: 1.7;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}
a {
  transition: all .3s;
  &:hover {
    text-decoration: none!important;
  }
}
//maincontent
.maincontent {
  min-height: calc(100vh -  179px);
  @media (max-width: 768px) {
    min-height: calc(100vh -  134px - 85px);
  }
  .card {
    background: transparent;
    border: 0;
    .card-header,
    .card-body,
    .card-footer {
      background: transparent;
      padding: 0;
      border: 0;
    }
    .card-header {
      text-align: center;
    }
    .card-body {
      padding: 3em 0;
    }
    .box-border {
      border-radius: 8px;
      border: 1px solid #444b64;
    }
  }
  .form-group {
    margin-bottom: 0;
    label {
      display: block;
      color: #5e677f;
      svg {
        width: 12px;
        margin-left: 5px;
        color: #e4ae63;
      }
    }
    input,
    textarea {
      border-radius: 8px;
      background-color: #2d344a;
      border: 0;
      color: #ffffff;
      font-size: 14px;
      padding: 1.5em 1em;
      &::placeholder {
        color: #9eaacc;
        font-size: 13px;
        font-family: 'Nunito Sans', sans-serif;
      }
      &:focus {
        box-shadow: 0 0 0 1px  #5692cd;
      }
    }
    textarea {
      padding: 1em;
      height: 120px;
    }
  }
}


//MODAL
.modal-content {
  border-radius: 8px;
  background-color: #272d40;
  .modal-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
  }
}
.border {
  border: 1px solid #444b64!important;
}
.w-80 {
  width: 80px;
}
// Footer
.mb-text-center {
  @media (max-width: 768px) {
    text-align: center;
  }
}
.footer-menu {
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.footer-buttons {
  padding-top: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    justify-content: center;
  }
  li {
    display: inline-block;
    padding: 5px;
    a {
      background: #272d40;
      border-radius: 8px;
      color: #5e677f;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      i {
        transition: all .3s;
      }
      &:hover {
        i {
          color: #fff;
        }
      }
    }
  }
}
