// Style Global
@import './iconfont/style.css';
* {
  box-sizing: border-box;
}
body {
  background-color: #202533;
  font-size: 14px;
  color: #9eaacc;
  line-height: 1.7;
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}
a {
  transition: all 0.3s;
  &:hover {
    text-decoration: none !important;
  }
}
.font-chevron-down {
  font-size: 18px;
  color: #3a8ecc;
  margin-left: 5px;
}

.box_onl {
  .dropdown-item {
    position: relative;
    padding: .5rem 0 .5rem 1em;
    &:before {
      background-color: #3a8ecc;
      border-radius: 50%;
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

//maincontent
.maincontent {
  min-height: calc(100vh - 179px);
  @media (max-width: 768px) {
    min-height: calc(100vh - 134px - 85px);
  }
  .card {
    background: transparent;
    border: 0;
    .card-header,
    .card-body,
    .card-footer {
      background: transparent;
      padding: 0;
      border: 0;
    }
    .card-header {
      text-align: center;
    }
    .card-body {
      padding: 3em 0;
    }
    .box-border {
      border-radius: 8px;
      border: 1px solid #444b64;
    }
  }
}
.form-group {
  margin-bottom: 0;
  label {
    display: block;
    color: #5e677f;
    svg {
      width: 12px;
      margin-left: 5px;
      color: #e4ae63;
    }
  }
  .box_select {
    .my-select__input {
      display: inline-block;
      height: 0;
      width: 0;
      overflow: hidden;
    }
    .my-select__indicator {
      color: #3A8ECC;
    }
    >div {
      background-color: #2d344a !important;
      border-radius: 8px;
      border: 0;
      min-height: 44px;
    }
    &.my-select--is-disabled {
      >div {
        background-color: #212531 !important;
      }
      .my-select__indicator {
        color: #444b64;
      }
    }
    .select_option {
      padding: 1em;
    }
    .select_option,
    .select_option_active {
      img {
        height: 16px;
        margin-right: 10px;
      }
    }
  }
  .text-placeholder {
    color: #444b64;
  }
  .input-group-append button {
    background-color: #2d344a !important;
    border-radius: 0 8px 8px 0 !important;
    border: 0;
    color: #9eaacc;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    &::before {
      background-color: #272d40;
      content: '';
      border-radius: 8px;
      width: 1px;
      height: 70%;
      top: 50%;
      left: 0;
      position: absolute;
      transform: translateY(-50%);
    }
    &:focus,
    &:active,
    &:active:focus {
      box-shadow: 0 0 0 0px #5692cd!important;
      background-color: transparent;
    }
    &:hover {
      background-color: #2D344A;
    }
  }
  input,
  textarea {
    border-radius: 8px;
    background-color: #2d344a;
    border: 0;
    color: #9eaacc;
    font-size: 14px;
    height: 44px;
    &::placeholder {
      color: #444b64;
      font-size: 13px;
      font-family: 'Nunito Sans', sans-serif;
    }
    &:focus,
    &:active
    &:active:focus {
      box-shadow: 0 0 0 1px #5692cd;
      background-color: transparent;
      color: #9eaacc;
    }
  }
  textarea {
    padding: 1em;
    height: 120px;
  }
}
.cm_form {
  .form-group {
    margin-bottom: 2em;
  }
}
.box-confirmation {
  >div {
    padding: 1em 0;
    >div {
      list-style: 1.4;
      &:first-child {
        color: #5E677F;
      }
    }
  }
}
.font-icon-checkmark-outline {
  color: #e4ae63;
  font-size: 60px;
}
.word-break{
  word-break: break-word;
}
//MODAL
.modal-content {
  border-radius: 8px;
  background-color: #272d40;
  .modal-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
  }
}
.border {
  border: 1px solid #444b64 !important;
}
.w-80 {
  width: 80px;
}

//box-address
.box-address {
  .bg_gray {
    border-radius: 8px;
    background-color: #272d40;
    padding: 1.5em;
    height: 100%;
  }
}
.fullwidth {
  width: 100%;
}
.coinmarketcap-currency-widget * {
  border-width: 0px!important;
  border-color: #5e677f!important;
}
//main_tab
.main_tab {
  ul.nav-tabs {
    border: 0;
    .nav-link {
      background: transparent !important;
      border: 0;
      color: #5e677f;
      margin-right: 50px;
      padding: 0 0 5px;
      cursor: pointer;
      position: relative;
      &.active {
        color: #9eaacc;
        &::before {
          content: '';
          background-color: #5692cd;
          border-radius: 25px;
          width: 30px;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

// Footer
.mb-text-center {
  @media (max-width: 768px) {
    text-align: center;
  }
}
.footer-menu {
  ul {
    li {
      position: relative;
      &:before {
        background-color: #5e677f;
        content: '';
        height: 20px;
        width: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.footer-buttons {
  padding-top: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    justify-content: center;
  }
  li {
    display: inline-block;
    padding: 5px;
    a {
      background: #272d40;
      border-radius: 8px;
      color: #5e677f;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      i {
        transition: all 0.3s;
      }
      &:hover {
        i {
          color: #fff;
        }
      }
    }
  }
}
